*{
    box-sizing: border-box;
    line-height: 100%;
    font-family: Consolas;
    font-size: 25pt;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
del{
    font-size: small;
}
#main-container{
    display: flex;
    margin: 0 auto;
    padding: 100px 15px;
    max-width: 1200px;
}

#timeline-title{
    position: relative;
    margin-left: .5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1.72em;
}
.timeline-item:before{
    position: absolute;
    left: calc(-0.5rem + 8.5px);
    width: .3rem;
    height: 0.3rem;
    border: .15rem solid #49b1f5;
    border-radius: .3rem;
    content: '';
    z-index: 1;
    transition: all .2s ease-in-out;
    background-color: #fff;
}
.timeline-item:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: .1rem;
    height: 6rem;
    background: #aadafa;
    content: '';
}
.timeline-item-year:before{
    border-color: #ff7242;;
    background-color: #fff;
    z-index: 1;
}
.timeline-item-year:after{
    height: 2rem;
}
.timeline-item{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 1rem .5rem;
    transition: all .2s ease-in-out;
    padding: 0 .8rem;
}
.timeline-item-info{
    margin-left: 1.2em;
}
.timeline-item-info time{
    color: #858585;
    font-size: 90%;
    display: inline-block;
}
.timeline-item-info time img{
    margin-right: 4px;
    width: 17px;
}
.timeline-item-info .title{
    color: #000;
    line-height: 2rem;
    font-family: 宋体;
    font-size: 1.1em;
    transition: all .3s;
}
.timeline-item-info .title:hover{
    color: #49b1f5;

}
.timeline-item-info a:hover{
    transform: translateX(10px);
    margin-left: 10px;
}
.remark{
    font-size: 75%;
    color: #858585;
    font-family: 微软雅黑;
}