
.main-body{
    margin: 110px 30px 30px;
    display: flex;
}

#describe{
    width: 28%;
    border: #5269be 3px solid;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
}
#paraC p{
    font-family: 楷体;
    font-size: 27px;
}
#right-ele{
    right: 0;
    width: 70%;
    margin: 2%;
    display: flex;
    flex-direction: column;
}
#leftC{
    width: 100%;
}
#photo-container{
    display: flex;
}
#photo-container img {
    width: 50%;
    display: inline-block;
}
#teachers{
    margin-top: 25px;
    width: 100%;
    clear: both;

}
#teachers table{
    width: 100%;
    border-radius: 5px;
    height: 500px;
}
td{
    text-align: center;
    writing-mode: vertical-lr;
}
#files{
    background-color: #e0e0e0;
    margin-top: 20px;
    line-height: 60px;
    padding-left: 20px;
    width:100%;
    height: 2em;
    display: inline-block;
    /*flex-direction: column;*/
}
#files p{
    margin: 0 auto;
}
#files img{
    width: 5em;
    margin: 0 auto;
    align-items: center;
    vertical-align:middle;
}
#files img:hover{
    transition: .5s;
    cursor:pointer;
    width: 7em;
}
#HTMLs{
    margin-top: 20px;
}
#HTMLs a{
    text-decoration: none;
    color: #1f62c1;
    line-height: 48px;
}
svg{
    vertical-align:middle;
    margin-bottom: 5px;
}