*{
    transition: 2s;

}
#content{
    margin-top: 110px;
    margin-left: 50px;
    margin-bottom: 50px;
}

#content{

}

table a{
    margin: 0 auto;
    font-size: larger;
}
.links{
    color: #00a1d6;
    text-decoration: none;
}
.links-unfinished{
    color: #858585;
    text-decoration: none;
}