.main-body{
    margin: 110px 30px 30px;
    display: flex;

}

#describe{
    width: 30%;
    border: #5269be 3px solid;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
}
#paraC p{
    font-family: 楷体;
    font-size: 20pt;

}
#right-ele{
    right: 0;
    width: 65%;
    margin: 2%;
}
#photo-container{
    display: flex;
}
#photo-container img {
    width: 50%;
    display: inline-block;
}
#teachers{
    width: 65%;
    clear: both;
}
#teachers table{
    width: 100%;
}