*{
    transition: 2s;
}
#content{
    margin-top: 110px;
}
#sort-button{
    display: inline-block;
    place-items: center;
}
#sort-button img{
    right:0
}
#sort-button svg:hover{
    color: #13227a;
}