/*本css文件由ZBN整理自萌娘百科*/
*{
    transition: .5s;
    /*font-size: large;*/
}
body{
    overflow-x: hidden;
}

#content {
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 110px;
    z-index: 1;
    border-radius: 5px;
    padding: 0.5em;
}
.BiliBili-Link{
    color: #00a1d6;
    text-decoration-line: none;
}
.firstHeading {
    border-bottom: 2px solid #49b1f5;
    padding-left: 0.5em;
    padding-bottom: 3px;
}
.infoBox {
    display: table-cell;
    padding: .25em .5em .25em 1.3em;
    width: 100%;
    vertical-align: middle;
    max-width: 100%;

    margin: auto;
}
li{
    font-size: medium;
}
li a{
    font-size: medium;
}
span {
    background: var(--Color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.Quotation-Marks {
    display: table-cell;
    color: #B2B7F2;
    font-size: 36px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-align: left;
    padding: 10px 10px;
    line-height: 100%;
}
.Key-Sentence {
    display: table-cell;
    text-align: left;
    padding: 1em;
    vertical-align: middle;
    font-size: 30px;
    background: var(--Color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.Tags{
    background: var(--Color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;;
    font-size: medium;
}
span img{
    vertical-align: middle;
}
li{
    line-height: normal;
    font-size: large;
}
li .hidden{
    background-color: #000;
    color: #000;
}
li .hidden:hover{
    color: #fff;
}
.timeline-classmate{
    width: 30%;
    background-color: rgba(255,255,255,0.4);
}