*{
    box-sizing: border-box;
    font-family: Consolas;
    font-size: 25pt;
    line-height: normal;
}
#nav{
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 36px;
    width: 100%;
    height: 60px;
    font-size: 1.2em;
    opacity: 1;
    transition: all .5s;
    background: rgba(255,255,255,.8);
    box-shadow: 0 5px 6px -5px rgb(133,133,133);
    left: 0;
}
#blog-name{
    flex: 1;
}
#nav a{
    text-decoration: none;
}
.navs{
    position: relative;
    display: inline-block;

    padding: 0 0 0 .7rem;
    color: #000000;
    text-decoration: none;
}
.fl:hover{
    color: #49b1f5;
    transition: all .3s;
}
#cnzz_stat_icon_1280231205{
    visibility: hidden;
}